body {background-color:#000;}

.container {    
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome */
    background:#fff; 
    color:#000; 
    width: 400px; 
    height: 550px;
    margin: 30px auto;
    -moz-box-shadow: 5px 5px 5px #333;
    -webkit-box-shadow: 5px 5px 5px #333;
}
img.logo {
  position: absolute;
  display: block;
  margin-left: 50px;
  margin-top: 20px;
}
  
img.txt {
  position: absolute;
  display: block;
  margin-left: 50px;
  margin-top: 400px;
}
 
